img {
    width: 300px;
 }

ul {
    list-style-type: none;
 }

h3, p, img, ul {
    margin-left: 10px;
    margin-right: 10px;
 }

#card { 
    border: 1px solid grey;
    box-shadow: 5px 5px lightgray;
    padding: 10px;
    margin: 10px;
    width: 320px;
 }

 #smallcard {
    border: 1px solid grey;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
    width: 290px;
 }

#fact {
    font-style: italic;
 }

.labels {
    font-weight: bold;
 }